<header>
    <div class="container-fluid nav-container">
        <nav class="navbar navbar-default home-nav">
            <div class="container-fluid">
                <div class="navbar-header">
                    <button type="button" class="navbar-toggle collapsed" data-toggle="collapse" data-target="#bs-example-navbar-collapse-1" aria-expanded="false">
                        <span class="sr-only">Toggle navigation</span>
                        <span class="icon-bar"></span>
                        <span class="icon-bar"></span>
                        <span class="icon-bar"></span>
                    </button>
                </div>
                <div class="collapse navbar-collapse" id="bs-example-navbar-collapse-1">
                    <ul class="nav navbar-nav navbar-right">    
                        <li><a href="#">Forgot password?</a></li>
                        <li><a ui-sref="login">Login</a></li>
                    </ul>
                </div>
            </div>
        </nav>
    </div>
</header>
<main>
    <div class="container-fluid home-bg">
        <div class="row">
            <div ng-hide="ctrl.registrationComplete" class="col-lg-4 col-lg-offset-4">
                <img src="img/logo-logged-in-deer.png" />
            </div>
        </div>
        <div class="row">
            <div class="col-lg-4 col-lg-offset-4">
                <div class="alert alert-danger" ng-show="Error">
                    <strong>Email address already exists!</strong> Please click on forgot password to reset your password.
                </div>
                <div class="alert alert-danger" ng-show="validateError">
                    <span ng-show="EmailError"> Please enter email address</span>
                    <span ng-show="PasswordError">Please enter password</span>
                    <span ng-show="ConfirmPasswordError">Please enter Confirm password</span>
                    <span ng-show="PasswordNotMatched ">password does not match with confirm password</span>
                </div>
                <div ng-hide="ctrl.registrationComplete" class="registration-box">
                    <form class="form-horizontal" method="post" action="#">
                        <input type="text" class="registration-email" ng-model="ctrl.signupData.Email" name="email" id="email" placeholder="Email" />
                        <p ng-show="(ctrl.signupData.Email.$invalid && !ctrl.signupData.Email.$pristine)" class="help-block">Email is required.</p>

                        <input type="password" class="registration-password" ng-model="ctrl.signupData.Password" name="password" id="password" placeholder="Password" />
                        <input type="password" class="registration-password" ng-model="ctrl.signupData.ConfirmPassword" name="retypePassword" id="retypePassword" placeholder="Re-type password" />
                        <button type="button" class="btn btn-default registration-register" ng-click="ctrl.signup()" ng-disabled="ctrl.busy"><span ng-show="ctrl.busy"class="glyphicon glyphicon-refresh spinning"></span>Register</button>
                        
                    </form>
                </div>
                <div ng-show="ctrl.registrationComplete" class="registration-complete">
                    Thank you for registering with Cervitt. An email has been sent to {{ctrl.signupData.Email}}. 
                    Please follow the instructions to activate your account.
                </div>
                
                
            </div>
        </div>
    </div>
</main>
<footer></footer>