<!DOCTYPE html>
<html>

<head>
    <title></title>
    <meta charset="utf-8" />
    <style>
        html,
        body {
            height: 100%;
        }
        /*body {
            background: #1e5799;
            background: -moz-linear-gradient(top, #1e5799 0, #00a3d8 0, #00c3e6 100%);
            background: -webkit-linear-gradient(top, #1e5799 0, #00a3d8 0, #00c3e6 100%);
            background: linear-gradient(to bottom, #1e5799 0, #00a3d8 0, #00c3e6 100%);
            filter: progid: DXImageTransform.Microsoft.gradient( startColorstr='#1e5799', endColorstr='#00c3e6', GradientType=0)
        }
        div.nav-container {
            background: none;
        }*/
    </style>
</head>

<body>
    <header>
        <div class="container-fluid nav-container">
            <nav class="navbar navbar-default home-nav">
                <div class="container-fluid">
                    <div class="navbar-header">
                        <button type="button" class="navbar-toggle collapsed" data-toggle="collapse" data-target="#bs-example-navbar-collapse-1" aria-expanded="false">
                            <span class="sr-only">Toggle navigation</span>
                            <span class="icon-bar"></span>
                            <span class="icon-bar"></span>
                            <span class="icon-bar"></span>
                        </button>
                    </div>
                    <div class="collapse navbar-collapse" id="bs-example-navbar-collapse-1">
                        <ul class="nav navbar-nav navbar-right">
                            <li><a href="/ForgotPassword">Forgot password?</a>
                            </li>
                            <li><a href="/">Login</a>
                            </li>
                        </ul>
                    </div>
                </div>
            </nav>
        </div>
    </header>

    <main>
        <div class="container-fluid home-bg">
            <div class="row">
                <div class="col-lg-4 col-lg-offset-4 regestration-section">
                        <div ng-hide="ctrl.registrationComplete" class="registration-box">
                            <div class="brand">
                                <a href="/">
                                    <img src="img/logo-logged-in-deer.png">
                                </a>
                            </div>
                            <div class="registration-boxInner  text-center">
                                <div class="col-sm-12 custom_msg_form">
                                    <div class="error" ng-show="validateError">
                                        <span ng-show="PasswordError">Please enter password</span>
                                        <span ng-show="ConfirmPasswordError">Please enter Confirm password</span>
                                        <span ng-show="PasswordNotMatched ">password does not match with confirm password</span>
                                        <span ng-show="NullId">Seesion Out! Please Go to your email address and click on link then try again</span>
                                    </div>
                                </div>
                                <form name="myForm" class="form-horizontal" novalidate>

                                    <div ng-hide="PasswordResetSuccess">
                                        <input type="password" class="registration-email-box" ng-model="Reset.Password" name="password" placeholder="Enter New Password" ng-minlength="6" required />
                                        
                                        <p class="error" style="color:red" ng-show="myForm.password.$error.minlength">Minimum 6</p><br>
                                                                                
                                        <input type="password" class="registration-password" ng-model="Reset.ConfirmPassword" name="ConfirmPassword" ng-minlength="6" placeholder="ReType New Password" required />

                                        <p class="error" style="color:red" ng-show="myForm.ConfirmPassword.$error.minlength">Minimum 6</p>

                                        <button class="onboarding-start wid_auto" type="button" value="Reset Password" ng-disabled="myForm.$invalid" ng-click="myForm.$valid && ResetPassword()">Reset Password</button>
                                    </div>
                                    <div class="col-sm-12 custom_msg_form">
                                        <div ng-show="PasswordResetSuccess">
                                            <div class="confirmation">
                                                <i class="fa fa-check-circle"></i>&nbsp;Password reseted. Click here to <a href="/">Login</a>
                                            </div>
                                        </div>
                                    </div>

                                </form>
                            </div>
                        </div>
                        <div ng-show="ctrl.registrationComplete" class="registration-complete">
                            <div class="col-sm-12 custom_msg_form">
                                <div class="confirmation">
                                    Thank you for registering with Cervitt. An email has been sent to {{ctrl.signupData.Email}}. Please follow the instructions to activate your account.
                                </div>
                            </div>
                        </div>
                    </div>
            </div>
        </div>
    </main>
</body>
<!--<footer>
    <div id="footer-gry" class="footer-gry">
        <div class="container">
            <div class="row">
                <div class="col-md-3 col-sm-3 col-xs-6">
                    <p class="footer-title">Using Cervitt</p>
                    <ul>
                        <li><a href="index.html">About</a></li>
                        <li><a href="pricing.html">Pricing</a></li>
                        <li><a href="demo.html">Demo</a></li>
                    </ul>
                </div>
                <div class="col-md-3 col-sm-3 col-xs-6">
                    <p class="footer-title">Legal</p>
                    <ul>
                        <li><a href="privacy.html">Privacy</a></li>
                        <li><a href="security.html">Security</a></li>
                        <li><a href="terms.html">Terms & Conditions</a></li>
                        <li><a href="policy.html">Cookie policies</a></li>
                    </ul>
                </div>
                <div class="col-md-2 col-sm-3 col-xs-6">
                    <p class="footer-title">Get started</p>
                    <ul>
                        <li class="login-fix"><a href="#pre-header">Login</a></li>
                        <li class=""><a href="#">Register</a></li>
                    </ul>
                </div>
                <div class="col-md-4 col-sm-12 col-xs-6">
                    <div class="add_btn"><a href="mailto:premium@cervitt.com"><span><img alt="Image" src="./img/icon-premium.svg"></span> Advertise your business through premium listings</a></div>
                </div>
            </div>
        </div>
    </div>
    <div id="footer-grn" class="footer-grn">
        <div class="container">
            <div class="row">
                <div class="col-sm-6"><a href="index.html" class="footer-logo"><img alt="Image" src="./img/logo-cervitt-footer.svg"></a></div>
                <div class="col-sm-6">
                    <ul>
                        <li><a href="mailto:info@cervitt.com">Contact us</a></li>
                        <li><a href="#"><i class="fa fa-twitter" aria-hidden="true"></i></a></li>
                        <li><a href="#"><i class="fa fa-facebook" aria-hidden="true"></i></a></li>
                        <li><a href="#"><i class="fa fa-linkedin" aria-hidden="true"></i></a></li>
                    </ul>
                </div>
            </div>
        </div>
    </div>
</footer>-->


</html>